* {
  box-sizing: border-box;
}

button {
  height: 10rem;
  width: 10rem;
}

.flex {
  display: flex;
  justify-content: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  place-items: center;
  justify-content: center;
}
